
/* Your CSS Code here. */
.moviePic{
	height:400px;
	width:400px;
	opacity:0.2;
	position:relative;
}
.movieDetail{
	position:absolute;
	top:10px;
    width:100px;
	text-align:left;
	font-size:20px;
}